* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    --white: #f2f2f2;
    --black: #010101;
    --lightgray: #b5b5b5;
    --gray:#515151;
    --darkgray:#3c3c3c;
    --logogray:#232323;
    --marine: #002843;
    --night: #00334e;
    --evening:#003d59;
    --afternoon:#326786;
    --morning:#a4d9fc; 
}

:root {
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--darkgray);
}

::-webkit-scrollbar-thumb {
    background-color: var(--black);
}

@keyframes pageload {
  0% {opacity: 0;
  transform: translateY(-75px) translateX(-35px);
}


  100% {opacity: 1;
  translate: 0px;}
}


body { 
    animation: pageload 1s ease-out;
    color: var(--white);
    display: grid;
    grid-template-areas: 
      "header header"
      "maintext Info"
      "footer footer";
    grid-template-rows: 360px 1fr 90px;  
    grid-template-columns: 1fr 15%;
    height: 100vh;
    margin: 0;
    background: rgb(50,103,134);
background: linear-gradient(208deg, rgba(50,103,134,1) 0%, rgba(0,51,78,1) 37%, rgba(0,40,67,1) 95%);
    }  
header, footer, main, div {
    padding: 1.2rem;
    }


#pageHeader {
    grid-area: header;
    display: flex;
    text-align: center;
    justify-content: center;
    }

    header a {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 210px;
        width: 210px;
        border-radius: 50%;
        background-color: var(--morning);
    }

    /*overflow: hidden para esconder a scale no hover :D*/
    
    header img {
        border-radius: 50%;
        height: 160px;
        width: 320px;
        align-self: center;
    }

    header img:hover {
        
        transform: scale(1.1);
        transition: 0.2s linear;
    }
 
#mainContent { 
    grid-area: maintext;  
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    padding-right: 60%;   
    margin-left: 2rem;
     }

    main {
        display: flex;
        flex-direction: column;
        align-items: space-between;
        
    }
    main :nth-child(n + 2) {
        margin-top: 0.5rem;
        text-align: justify;
        text-justify: inter-word;
    }
#sidebar { 
    grid-area: Info; 
    margin-right: 2rem;
    } 
  
 #sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  padding: 1rem 1rem;
  align-items: center;
  list-style-type:none;
    }

.links li {
    padding: 0.3rem;
  display: flex;
  height: 2rem;
  width: 7rem;
  background-color:  var(--morning);
  margin: 0.5rem;
  border-radius: 6px;
}
.links img {
    display: flex;
    float: left;
    margin: 0 0.4rem 0;
    height: 1.5rem;
    width: 1.5rem;
   }

.links a {
    color: var(--marine);
   }

.links li:hover{
    background: var(--afternoon);
    opacity: calc(0.8);
    transform: scale(1.1);
    transition: 0.2s ease-in;  
   } 

.projects li {
    display: flex;
    margin: 1rem 0 1rem;
}
.projects li:hover {
    transform: scale(1.25) rotate(015deg);
    transition: 0.2s ease-in;
}

#menuButton{
    width: 9.6rem;
    height: 3rem;
    background: var(--morning);
    border-radius: 8px;
}

#pageFooter {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--marine);
  }
 footer a {
  color: var(--white);
 }

 footer a:hover {
  color: var(--morning);
  transition: 0.2s linear;
 }


