* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #2c2c31;
}

::-webkit-scrollbar-thumb {
    background-color: #4c4c4c;
}

body { 
    color: #F2F2F2;
    display: grid;
    grid-template-areas: 
      "header header"
      "maintext ads"
      "footer footer";
    grid-template-rows: 360px 1fr 100px;  
    grid-template-columns: 1fr 20%;
    height: 100vh;
    margin: 0;
    }  
  header, footer, main, div {
    padding: 1.2em;
    background: black;
    border: 1px solid white;
    }

  #pageHeader {
    grid-area: header;
    display: flex;
    text-align: center;
    justify-content: center;
    }
  #pageFooter {
    grid-area: footer;
    }
  #mainContent { 
    grid-area: maintext;  
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    padding-right: 60%;    
    }

  #siteAds { 
    grid-area: ads; 
    } 
 